<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gauto" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gauto Ingenieria</name>
    <description>App para carga de obras - Gauto Ingenieria</description>
    <author email="mebel@chaco.gob.ar" href="#">
        Martin Ebel
    </author>
    <icon src="res//icon/android/icono.png" />
    <content src="main.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
         <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
        <config-file parent="/manifest" target="app/src/main/AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
    </platform>
</widget>
